# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess
web/app/themes/montheme/dist

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# Node_module
/node_modules

# WP-CLI
wp-cli.local.yml
