@use 'base/settings';

h1 {
  font-family: settings.$primary-font;
  color: settings.$navy;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}